@charset "UTF-8";
.swiper_inicio {
  width: 100%;
  height: 250px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  .swiper_inicio {
    margin-top: 2rem;
    height: 70%;
  }
}
.swiper_inicio .swiper-wrapper {
  margin-bottom: 1.5rem;
  height: 200px;
  transition-timing-function: linear;
}
@media screen and (max-width: 600px) {
  .swiper_inicio .swiper-wrapper {
    height: 50%;
  }
}
.swiper_inicio .swiper-wrapper .swiper-slide {
  height: auto;
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_inicio .swiper-wrapper .swiper-slide img {
  max-width: 75%;
  max-height: 95%;
}

.swiper_home {
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: 2.8rem;
  width: 100% !important;
  box-sizing: border-box;
  --swiper-pagination-color: var(--ion-color-primary, #47a5ae);
}
.swiper_home .swiper-wrapper {
  height: auto;
}
.swiper_home .swiper-wrapper .swiper-slide {
  height: auto !important;
  margin-bottom: 3.5rem !important;
}

.swiper_years {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
  box-sizing: border-box;
  padding: 2rem !important;
}
.swiper_years .swiper-wrapper {
  height: auto;
  margin-bottom: 2rem;
}
.swiper_years .swiper-wrapper .swiper-slide {
  height: auto;
  border-radius: 50px;
  background: #47a5ae;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
  box-sizing: border-box;
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms linear;
  transform: scale(0.8);
  opacity: 0.5;
}
.swiper_years .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
}

.navigation_button {
  color: #656464 !important;
}

.years {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (max-width: 800px) {
  .years {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .years {
    font-size: 1.5rem;
  }
}

.swiper_eventos {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8rem;
  margin-bottom: 4rem;
}
.swiper_eventos .swiper-wrapper {
  height: auto;
}
.swiper_eventos .swiper-wrapper .swiper-slide {
  height: auto;
  box-sizing: border-box !important;
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  transition: all 200ms linear;
  transform: scale(0.7);
  opacity: 0.5;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
.swiper_eventos .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .swiper_eventos .swiper-wrapper .swiper-slide {
    width: 80%;
  }
}

.hidden {
  display: none !important;
}

.swiper_evento-individual-indicadores {
  width: 100%;
  height: auto;
  padding: 2rem !important;
}
.swiper_evento-individual-indicadores .swiper-wrapper {
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.swiper_evento-individual-indicadores .swiper-wrapper .swiper-slide {
  height: auto;
  border-radius: 50px;
  background: #47a5ae;
  box-shadow: 5px 5px 10px #bbc6c7, -5px -5px 10px #ffffff;
  box-sizing: border-box;
  padding: 1.5rem 0rem;
  transition: all 200ms linear;
  transform: scale(0.8);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_evento-individual-indicadores .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
}

.indicador-mobile {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (max-width: 900px) {
  .indicador-mobile {
    font-size: 1.35rem;
  }
}

.swiper_apoyan-auspician {
  width: 100%;
  height: 250px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  .swiper_apoyan-auspician {
    margin-top: 2rem;
    height: 70%;
  }
}
.swiper_apoyan-auspician .swiper-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 200px;
  transition-timing-function: linear;
}
@media screen and (max-width: 600px) {
  .swiper_apoyan-auspician .swiper-wrapper {
    height: 50%;
  }
}
.swiper_apoyan-auspician .swiper-wrapper .swiper-slide {
  height: auto;
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  background: rgba(71, 165, 174, 0.15);
  box-shadow: 5px 5px 10px #bbc6c7, -5px -5px 10px #ffffff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_apoyan-auspician .swiper-wrapper .swiper-slide img {
  max-width: 75%;
  max-height: 75% !important;
}

.swiper_personas {
  width: 90%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8rem;
}
@media screen and (max-width: 900px) {
  .swiper_personas {
    width: 100%;
  }
}
.swiper_personas .swiper-wrapper {
  height: auto;
}
.swiper_personas .swiper-wrapper .swiper-slide {
  height: auto;
  background: rgba(71, 165, 174, 0.15);
  border-radius: 50px;
  border-radius: 50px;
  transition: all 200ms linear;
  transform: scale(0.7);
  opacity: 0.5;
  margin-bottom: 4rem;
  box-shadow: 5px 5px 10px #bbc6c7, -5px -5px 10px #ffffff;
}
.swiper_personas .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .swiper_personas .swiper-wrapper .swiper-slide {
    width: 80%;
  }
}
.swiper_personas .swiper-wrapper .swiper-slide .link_ul {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}
.swiper_personas .swiper-wrapper .swiper-slide .icono {
  font-size: 4rem;
  color: #47a5ae;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.swiper_personas .swiper-wrapper .swiper-slide .icono img {
  border-radius: 100%;
}
.swiper_personas .swiper-wrapper .swiper-slide .icono i {
  padding: 1.5rem;
  border-radius: 50%;
  border-radius: 50%;
  background: rgba(71, 165, 174, 0.15);
  box-shadow: inset 5px 5px 7px #bbc6c7, inset -5px -5px 7px #ffffff;
  align-self: center;
  color: #47a5ae;
  margin-bottom: 1.7rem;
}

.link_home {
  font-weight: 500;
  text-decoration: none;
  color: #656464;
}

.h1 {
  color: #f48424;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
  z-index: 1;
  width: 100%;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .h1 {
    font-size: 9.5vw;
    padding: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .h1 {
    font-size: 6.3vw;
  }
}

.h1_inicio {
  font-size: 5rem;
}
@media screen and (max-width: 600px) {
  .h1_inicio {
    font-size: 9.5vw;
    padding: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .h1_inicio {
    font-size: 6.3vw;
  }
}

.p_home {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #656464;
  margin-bottom: 1rem;
}
.p_home strong {
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  .p_home {
    margin-bottom: 3rem;
  }
}

.link-home {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #f48424;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.importante {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .importante {
    justify-content: center;
  }
}
.importante .news_inicio {
  background-color: #47a5ae;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  width: fit-content;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .importante .news_inicio {
    width: 100%;
  }
}

.section2, .section3 {
  padding: 3rem;
  padding-bottom: 0;
}

.h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 3.5rem;
  color: black;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .h2 {
    margin-bottom: 3.5rem;
    font-size: 3.7rem;
  }
}

.p_normal {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.5rem;
}
.p_normal strong {
  font-weight: 500;
}

.p_chica {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.45rem;
  color: black;
  margin-bottom: 1.5rem;
}

.ul_texto {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: black;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}

.ul_normal {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.div_sombras {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 7px 7px 27px #bfbfbf, -7px -7px 27px #ffffff;
  padding: 3rem;
  margin-bottom: 3rem;
}

.h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
}

.section2 {
  display: flex;
  flex-direction: column;
}
.section2 .formamos_parte {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .section2 .formamos_parte {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .section2 .formamos_parte {
    flex-direction: column;
    align-items: flex-start;
  }
}
.section2 .formamos_parte .h2_integrantes {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 2.5rem;
  color: #94949b;
}
@media screen and (max-width: 576px) {
  .section2 .formamos_parte .h2_integrantes {
    font-size: 2.7rem;
  }
}
.section2 .formamos_parte .miembros {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
@media screen and (max-width: 576px) {
  .section2 .formamos_parte .miembros {
    flex-direction: column;
  }
}
.section2 .formamos_parte .miembros .miembro_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  padding: 1.5rem;
}
.section2 .formamos_parte .miembros .miembro_logo img {
  height: 70px;
}
@media screen and (max-width: 576px) {
  .section2 .formamos_parte .miembros .miembro_logo img {
    width: 80%;
    height: auto;
  }
}

.link_web--beneficios {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: blue;
  overflow-x: hidden;
  word-wrap: break-word;
}

.no_underline {
  text-decoration: none;
}

.iframe_pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.iframe_pdf iframe {
  border: 8px #94949b solid;
  border-radius: 25px;
}

.link_publicaciones {
  text-decoration: none;
  color: black;
}
.link_publicaciones:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.estautos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.estautos iframe {
  border-radius: 25px;
  border: 8px #94949b solid;
}

.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 576px) {
  .div_sombras {
    padding: 2rem 3rem;
  }
  .ul_normal {
    margin-left: 2rem;
  }
  .iframe_pdf iframe {
    border: 4px #94949b solid;
    border-radius: 25px;
    width: 80%;
    height: auto;
  }
  .h2 {
    font-size: 3.3rem;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .section1 {
    height: 120vh;
  }
}
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(148, 148, 155, 0.1);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.navbar .navbar_links .links {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  height: 100%;
}
.navbar .navbar_links .links .link_nav {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  color: #f48424;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0 6px;
  white-space: nowrap;
  text-align: center;
}
.navbar .navbar_links .links .link_nav .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #f48424;
  transition: all 0.3s ease;
}
.navbar .navbar_links .links .link_nav .link_nav--drop {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none;
}
.navbar .navbar_links .links .link_registro {
  background-color: #f48424;
  color: white;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link_registro--mobile {
  background-color: #f48424;
  color: white;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: none;
}

.links li:hover .inst-arrow,
.links li:hover .socios-arrow {
  transform: rotate(180deg);
}

.link_nav .submenu {
  position: absolute;
  top: 70px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(148, 148, 155, 0.1);
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 2;
  list-style: none;
  transition: all 0.3s ease;
}
.link_nav .submenu li {
  padding: 0 1.2rem;
  border-bottom: 1px solid rgba(244, 132, 36, 0.1);
}

.link_nav--drop {
  color: rgba(244, 132, 36, 0.9);
}

.links li:hover .socios-submenu,
.links li:hover .inst-submenu {
  display: block;
}

.sidenav_logo {
  display: none;
}

.menu_icon {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  nav .navbar {
    padding: 0 25px;
  }
  .logo_inicio {
    display: none;
  }
  .sidenav_logo {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .sidenav_logo a {
    display: flex;
    align-items: center;
  }
  .sidenav_logo .cerrar {
    font-size: 2rem;
    color: #f48424;
  }
  .menu_icon {
    display: inline-block !important;
    font-size: 2.7rem;
    color: #f48424;
  }
  .link_registro--mobile {
    display: inline-block;
  }
  .link_registro {
    display: none;
  }
  .link_nav {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    padding-left: 0;
    margin-left: 0;
    text-align: left !important;
  }
  .navbar_links {
    position: fixed !important;
    top: 0px;
    left: -100%;
    display: block;
    width: auto;
    min-width: 35%;
    height: 100%;
    overflow-y: scroll;
    background-color: #ffffff;
    line-height: 40px;
    padding: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 5px 10px rgba(148, 148, 155, 0.1);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar_links .links {
    flex-direction: column;
    align-items: start !important;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }
  .navbar_links .links li {
    display: block !important;
    align-self: start !important;
  }
  .submenu {
    position: relative !important;
    display: block;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    left: 0 !important;
    box-shadow: none !important;
    align-items: start !important;
    width: 100%;
    overflow-y: scroll;
  }
  .submenu li {
    padding: 0 !important;
    border-bottom: none !important;
    align-self: baseline;
  }
  .submenu li a {
    color: rgba(244, 132, 36, 0.8);
  }
  .arrow {
    height: auto !important;
  }
  .link_nav--drop {
    text-align: left !important;
  }
}
.section1 {
  height: 65vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 100vw;
}
@media screen and (max-width: 900px) {
  .section1 {
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
  }
}
.section1 .div_info {
  width: 60%;
  padding-left: 3rem;
  padding-right: 3rem !important;
  background-color: rgba(244, 132, 36, 0.3);
}
@media screen and (max-width: 900px) {
  .section1 .div_info {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0;
  }
}
.section1 .container {
  height: 65vh;
  width: 40%;
  margin: 0;
  display: table;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .section1 .container {
    width: 100%;
    height: 25vh;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .section1 .container {
    height: 45vh;
  }
}

.height_75 {
  height: 75vh !important;
}
@media screen and (max-width: 900px) {
  .height_75 {
    height: auto !important;
  }
}

.height_75--container {
  height: 75vh !important;
}
@media screen and (max-width: 900px) {
  .height_75--container {
    width: 100%;
    height: 25vh !important;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .height_75--container {
    height: 45vh;
  }
}

.parallax_inicio {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/index_parallax.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_beneficios {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/beneficios_parallax.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_cuotas {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/cuotas_parallax.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_publicaciones {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/publicaciones_parallax.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_eventos {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/eventos_parallax.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_estatutos {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/parallax_estatutos.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_marco-juridico {
  background-image: linear-gradient(rgba(71, 165, 174, 0.4), rgba(71, 165, 174, 0.4)), url("../img/parallax_marcojuridico.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #f48424;
  height: auto;
  padding-top: 2rem 3rem;
}
footer .div_footer--datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}
@media screen and (max-width: 600px) {
  footer .div_footer--datos {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 2rem;
  }
}
footer .div_footer--datos .div_contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 600px) {
  footer .div_footer--datos .div_contacto {
    padding-top: 2.5rem;
  }
}
footer .div_footer--datos .p_footer {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
footer .div_footer--datos .contacto_footer {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
footer .div_redes {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 1rem;
}
footer .div_redes .icono_redes {
  font-size: 4rem;
  color: white;
}
@media screen and (max-width: 600px) {
  footer .div_redes {
    align-self: center;
    align-items: center;
    padding-top: 3rem;
  }
}

.div_direccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 600px) {
  .div_direccion {
    align-items: flex-start;
  }
}

.no-margin-bottom {
  margin-bottom: 0rem !important;
}

.evento_sombra {
  box-shadow: 7px 7px 27px #bfbfbf, -7px -7px 27px #ffffff;
}

.evento {
  width: 100%;
  border-radius: 50px;
  background: #ffffff;
  height: 700px;
  box-sizing: border-box !important;
}
@media screen and (max-width: 600px) {
  .evento {
    height: 57%;
  }
}
.evento .foto_reson {
  width: 100%;
  height: 45%;
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/resonancia_magnetica_inical.jpg");
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .evento .foto_reson {
    height: 200px;
  }
}
.evento .informacion {
  padding: 3rem !important;
  box-sizing: border-box;
}
.evento .informacion .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .evento .informacion .titulo {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.evento .informacion .titulo .titulo_evento {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: black;
}
.evento .informacion .titulo .fecha {
  background-color: #f48424;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  margin-left: 1rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .evento .informacion .titulo .fecha {
    justify-self: center;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-left: 0rem;
  }
}
.evento .informacion .ul_evento {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: black;
  margin: 1rem;
  padding-left: 2.3rem;
  overflow-x: hidden;
  word-wrap: break-word;
}
.evento .informacion .ul_evento .evento_item {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  text-decoration: none;
}
.evento .informacion .ul_evento .evento_item:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.no_eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no_eventos .logo_eventos {
  width: 60%;
}
@media screen and (max-width: 600px) {
  .no_eventos .logo_eventos {
    width: 70%;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .no_eventos .logo_eventos {
    width: 30%;
  }
}

.gris {
  color: #94949b;
}

.afiche {
  color: rgba(244, 132, 36, 0.9) !important;
}
.afiche:hover {
  color: rgba(244, 132, 36, 0.7) !important;
}

.foto_minas {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/Evento Minas 2023.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_minas {
    height: 200px;
  }
}

.foto_2_9_2023 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_radiologia_2023.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_2_9_2023 {
    height: 200px;
  }
}

.foto_2_9_2023-2 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_reuniones_acad.jpeg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_2_9_2023-2 {
    height: 200px;
  }
}

.foto_sorteo2023 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/SORTEO - WEB.png");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_sorteo2023 {
    height: 200px;
  }
}

.foto_present_libro {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/P1.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_present_libro {
    height: 200px;
  }
}

.foto_seminario_bayer_2023 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/Flyer Seminario - Es - Completo.png");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_seminario_bayer_2023 {
    height: 200px;
  }
}

.foto_sanjo_2023 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/programa_san_jose.jpeg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_sanjo_2023 {
    height: 200px;
  }
}

.foto_rivera {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/banner_rivera.jpeg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_rivera {
    height: 200px;
  }
}

.foto_julio_22 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_julio_22.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_julio_22 {
    height: 200px;
  }
}

.foto_5_5_22 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/fundamentos_de_pacs_dicom.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_5_5_22 {
    height: 200px;
  }
}

.foto_getafe {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_getafe.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_getafe {
    height: 200px;
  }
}

.foto_15_9_22 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/curso_reso_sept_22.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_15_9_22 {
    height: 200px;
  }
}

.foto_1_09_22 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/enferm_22.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_1_09_22 {
    height: 200px;
  }
}

.foto_jornada_mamaria {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/jornadas_mamarias_2023.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_jornada_mamaria {
    height: 200px;
  }
}

.foto_clinica_alemana_23 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_1011_noviembre.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_clinica_alemana_23 {
    height: 200px;
  }
}

.foto_jornada_mercosur_23 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/1° JORNADA SOBRE RESPONSABILIDAD MÉDICA DEL MERCOSUR.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_jornada_mercosur_23 {
    height: 200px;
  }
}

.foto_jornada_cient_23 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/jornada_cient_2023.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_jornada_cient_23 {
    height: 200px;
  }
}

.foto_evento_cr_2025 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento_cr_2025.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_cr_2025 {
    height: 200px;
  }
}

.foto_evento_tcerebro_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_tcerebro_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_tcerebro_2024 {
    height: 200px;
  }
}

.foto_evento_protocolo_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_protocolo_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_protocolo_2024 {
    height: 200px;
  }
}

.foto_evento_melo_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_melo_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_melo_2024 {
    height: 200px;
  }
}

.foto_evento_encuentro_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_encuentro_2024.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_encuentro_2024 {
    height: 200px;
  }
}

.foto_evento_mujeres_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_mujeres_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_mujeres_2024 {
    height: 200px;
  }
}

.foto_evento_actualizacion_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_actualizacion_2024.png");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_actualizacion_2024 {
    height: 200px;
  }
}

.foto_evento_sorteo100_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_sorteo100_2024.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_sorteo100_2024 {
    height: 200px;
  }
}

.foto_evento_sorteo50_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_sorteo50_2024.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_sorteo50_2024 {
    height: 200px;
  }
}

.foto_evento_beca_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_beca_2024.jpeg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_beca_2024 {
    height: 200px;
  }
}

.foto_evento_maciel_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_maciel_2024.jpeg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_maciel_2024 {
    height: 200px;
  }
}

.foto_evento_cordoba_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_cordoba_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_cordoba_2024 {
    height: 200px;
  }
}

.foto_evento_solaci_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_solaci_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_solaci_2024 {
    height: 200px;
  }
}

.foto_evento_reunion_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_reunion_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_reunion_2024 {
    height: 200px;
  }
}

.foto_evento_discusiones_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_discusiones_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_discusiones_2024 {
    height: 200px;
  }
}

.foto_evento_proteccion_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_proteccion_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_proteccion_2024 {
    height: 200px;
  }
}

.foto_evento_hp_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento-hp.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_hp_2024 {
    height: 200px;
  }
}

.foto_evento_diplomaturaRM_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_diplomaturaRM_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_diplomaturaRM_2024 {
    height: 200px;
  }
}

.foto_evento_diplomaturaTC_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_diplomaturaTC_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_diplomaturaTC_2024 {
    height: 200px;
  }
}

.foto_evento_capacitacion_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/evento-capactitacion.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_capacitacion_2024 {
    height: 200px;
  }
}

.foto_evento_pde_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_pde_2024.JPG");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_pde_2024 {
    height: 200px;
  }
}

.foto_evento_angio_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_angio_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_angio_2024 {
    height: 200px;
  }
}

.foto_evento_penca_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_penca_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_penca_2024 {
    height: 200px;
  }
}

.foto_evento_angiohp_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_angiohp_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_angiohp_2024 {
    height: 200px;
  }
}

.foto_evento_diplomado_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_diplomado_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_diplomado_2024 {
    height: 200px;
  }
}

.foto_evento_tomografia_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_tomografia_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_tomografia_2024 {
    height: 200px;
  }
}

.foto_evento_chile_2024 {
  background-image: linear-gradient(rgba(71, 165, 174, 0.35), rgba(71, 165, 174, 0.35)), url("../img/foto_evento_chile_2024.jpg");
  width: 100%;
  height: 40%;
  background-size: 100%;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media screen and (max-width: 600px) {
  .foto_evento_chile_2024 {
    height: 200px;
  }
}

.nav-eventoInd {
  background-color: #cae5e7;
  box-shadow: 0 4px 10px rgba(6, 36, 39, 0.1);
}
@media screen and (max-width: 1280px) {
  .nav-eventoInd .navbar .navbar_links {
    background-color: #cae5e7;
  }
}
.nav-eventoInd .navbar .navbar_links .links .link_nav {
  color: #47a5ae;
}
.nav-eventoInd .navbar .navbar_links .links .link_nav .arrow {
  color: #47a5ae;
}
.nav-eventoInd .evento-registrate {
  font-weight: 550 !important;
}
.nav-eventoInd .link_nav .submenu {
  background: rgba(202, 229, 231, 0.95);
  box-shadow: 0 1px 2px rgba(71, 165, 174, 0.1);
}
@media screen and (max-width: 1280px) {
  .nav-eventoInd .link_nav .submenu {
    background-color: transparent;
  }
}
.nav-eventoInd .link_nav .submenu li {
  border-bottom: 1px solid rgba(71, 165, 174, 0.1);
}
.nav-eventoInd .link_nav--drop {
  color: rgba(71, 165, 174, 0.9);
}
.nav-eventoInd .cerrar {
  color: #47a5ae;
}
.nav-eventoInd .menu_icon {
  color: #47a5ae;
}

.section1-eventoIndividual {
  padding-top: 90px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(71, 165, 174, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual {
    flex-direction: column-reverse;
  }
}
.section1-eventoIndividual .eventoIndividual-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 3.5rem;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-info {
    padding: 0;
    gap: 2rem;
  }
}
.section1-eventoIndividual .eventoIndividual-info .first-part {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section1-eventoIndividual .eventoIndividual-info .first-part .fecha-evnt {
  background-color: #f48424;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
  text-align: center;
}
.section1-eventoIndividual .eventoIndividual-info .first-part img {
  height: 80px !important;
}
.section1-eventoIndividual .eventoIndividual-info .event-title {
  color: #47a5ae;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-info .event-title {
    font-size: 4.3rem;
  }
}
.section1-eventoIndividual .eventoIndividual-info .costos-evento {
  padding-top: 2rem;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-info .costos-evento {
    padding: 0;
  }
}
.section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-title {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-title {
    font-size: 3.5rem;
  }
}
.section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-listas {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-listas {
    flex-direction: column;
    gap: 2rem;
  }
}
.section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-listas .ul-costos-evento {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
}
.section1-eventoIndividual .eventoIndividual-info .costos-evento .costos-listas .ul-costos-evento .ul-interna {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 320;
  font-size: 1.8rem;
  padding-top: 0.5rem;
}
.section1-eventoIndividual .eventoIndividual-info .boton-inscripcion-evnt {
  text-decoration: none;
  background-color: #f48424;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
}
.section1-eventoIndividual .eventoIndividual-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section1-eventoIndividual .eventoIndividual-banner img {
  height: 83vh;
  border-radius: 30px;
  border: 3px solid #47a5ae;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-banner img {
    display: none;
  }
}
.section1-eventoIndividual .eventoIndividual-banner .img-melo {
  height: 55vh;
  border-radius: 30px;
  border: 3px solid #47a5ae;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-banner .img-melo {
    display: none;
  }
}
.section1-eventoIndividual .eventoIndividual-banner video {
  height: 25vh;
  border-radius: 30px;
  border: 3px solid #47a5ae;
}
@media screen and (max-width: 900px) {
  .section1-eventoIndividual .eventoIndividual-banner video {
    height: auto;
    max-height: 30vh;
    width: 100%;
    margin-bottom: 4rem;
  }
}

.boton-insc {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-insc .boton-inscripcion-evnt-ext {
  text-decoration: none;
  background-color: #f48424;
  width: 100% !important;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.boton-margin-ext {
  margin-bottom: 3rem;
}

.auspiciante-slide {
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  background: rgba(71, 165, 174, 0.15);
  box-shadow: 5px 5px 10px #bbc6c7, -5px -5px 10px #ffffff;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  width: 30%;
}
@media screen and (max-width: 900px) {
  .auspiciante-slide {
    width: auto;
    max-width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .auspiciante-slide {
    width: auto;
    max-width: 100%;
    text-align: center;
  }
}
.auspiciante-slide img {
  max-width: 50%;
  max-height: 75% !important;
}
@media screen and (max-width: 900px) {
  .auspiciante-slide img {
    max-width: 80%;
  }
}

.p_after {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 320;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.section2-eventoIndividual {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(71, 165, 174, 0.15);
}

.section3-eventoIndividual {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(71, 165, 174, 0.15);
}

.section4-eventoIndividual {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(71, 165, 174, 0.15);
}

.section5-eventoIndividual {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(71, 165, 174, 0.15);
}

.section6-eventoIndividual {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
  background-color: rgba(71, 165, 174, 0.15);
}

.last-section {
  padding-bottom: 6rem;
}

table {
  width: 60%;
  margin-top: 1rem;
}
@media screen and (max-width: 900px) {
  table {
    width: 100%;
  }
}

table, th, td {
  border: 2px solid #47a5ae;
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
  padding-left: 1rem;
}

th {
  background-color: rgba(202, 229, 231, 0.95);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: #47a5ae;
}

td {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #0d4f55;
  text-align: center;
}

.horarios {
  font-weight: 450;
  font-size: 1.2rem;
}

.h2-eventoIndividual {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 900px) {
  .h2-eventoIndividual {
    font-size: 3.5rem;
  }
}

.h4-eventoIndividual {
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .h4-eventoIndividual {
    font-size: 1.7rem;
  }
}

.p_normal-evento {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0d4f55;
}
.p_normal-evento strong {
  font-weight: 450 !important;
}

.link-int {
  text-decoration: none;
  color: #0d4f55;
  font-weight: 450 !important;
}

.ul-eventoInd {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0d4f55;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.datos-expositores {
  padding: 3rem;
  padding-top: 2rem;
}

.h3-eventoIndividual {
  color: #47a5ae;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 900px) {
  .h3-eventoIndividual {
    font-size: 3.5rem;
  }
}

.programa {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.programa table {
  align-self: center;
}

.expositores {
  margin-top: 2rem;
}

.presentacion {
  margin-top: 3rem;
}

.link-evento {
  text-decoration: none;
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2px;
}
.link-evento .arrow-right {
  font-size: 2rem;
  color: #0d4f55;
}

.ul-eventoIndividual {
  padding-left: 3rem;
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  font-size: 2rem;
  font-weight: 270;
}
.ul-eventoIndividual .link-locomocionALojamiento {
  text-decoration: none;
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  font-weight: 420;
  font-size: 2rem;
}

.ol-eventoIndividual {
  padding-left: 3rem;
  color: #0d4f55;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.locomocionYAlojamiento {
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 900px) {
  .locomocionYAlojamiento {
    flex-direction: column;
    gap: 3rem;
  }
}
.locomocionYAlojamiento iframe {
  border-radius: 50px;
  border: 6px solid #47a5ae;
}
@media screen and (max-width: 900px) {
  .locomocionYAlojamiento iframe {
    width: 100%;
  }
}

.subir {
  border-radius: 40px;
  background-color: #47a5ae;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 10000;
  padding: 1rem 2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 420;
  font-size: 3rem;
}
.subir a {
  text-decoration: none;
}

.ul-inside {
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul strong {
  font-weight: 400;
}

.padding-evt {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.margin-bottom-extra {
  margin-bottom: 2rem;
}

.a-foto {
  text-align: center;
}

.footer-eventoIndividual {
  background-color: #47a5ae;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
@media screen and (max-width: 600px) {
  .footer-eventoIndividual {
    padding-top: 2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  font-display: swap;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
  background-color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*# sourceMappingURL=style.css.map */
