// bases

@import './bases/variables';

//componentes
@import './components/swiper';
@import './components/basic';
@import './components/header';
@import './components/parallax';
@import './components/footer';
@import './components/eventos';
@import './components/eventos-individuales';


// inicialización 

* {
    padding: 0;
    margin: 0;
    font-display: swap;
}

html {
    /* para que un rem quede en 10 px */
    font-size: 62.5%; 
    background-color: $blanco;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
