// bases

@import './bases/variables';

//componentes
@import './components/swiper';
@import './components/basic';
@import './components/header';
@import './components/parallax';
@import './components/footer';


// inicialización 

* {
    padding: 0;
    margin: 0;
}

html {
    /* para que un rem quede en 10 px */
    font-size: 62.5%; 
    background-color: $blanco;
}