// colores

$color-naranja: #f48424;
$color-azul: #47a5ae;
$color-gris: #94949b;
$blanco: #ffffff;
$negro: #000000;

// mixin parallax

@mixin parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}