.section1 {
    height: 100vh;
    margin-bottom: 4rem;

    .h1 {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 5rem;
        z-index: 1;
        width: 100%;
    
        @media screen and (max-width: 576px) {
            font-size: 12vw;
            padding: 1.5rem;
        }
    }
}

.section2, .section3 {
    padding: 3rem;
    padding-bottom: 0;
}


.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 4rem;
    color:black;
    margin-bottom: 4rem;
    margin-top: 2rem;

    @media screen and (max-width: 576px) {
        margin-bottom: 3.5rem;
        font-size: 3.7rem;
    }
}

.p_normal {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color:black;
    margin-bottom: 1.5rem;

    strong {
        font-weight: 500; 
    }
}

.p_chica {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color:black;
    margin-bottom: 1.5rem;
}

.ul_texto {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color:black;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
}

.ul_normal {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color:black;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.div_sombras {

    border-radius: 50px;
    background: #ffffff;
    box-shadow:  7px 7px 27px #bfbfbf,
             -7px -7px 27px #ffffff;
    padding: 3rem;
    margin-bottom: 3rem;
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:black;
    margin-bottom: 1rem;
}

// beneficios



.link_web--beneficios {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: blue;
}

// cuotas y formas de pago

.iframe_pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    
    iframe {
        border: 8px $color-gris solid;
        border-radius: 25px;
    }
}

// publicaciones

    .link_publicaciones {
        text-decoration: none;
        color: black;

        &:hover {
            color: rgba(0, 0, 0, 0.6);
            cursor: pointer; 
        }
    }



// media q

@media screen and (max-width: 576px) {

    .div_sombras {
        padding: 2rem 3rem;

    }

    .ul_normal {
        margin-left: 2rem;
    }

    .iframe_pdf {
        
        iframe {
            border: 4px $color-gris solid;
            border-radius: 25px;
            width: 80%;
            height: auto;
        }
    }
}