.link_home {
    font-weight: 500;
    text-decoration: none;
    color: $color-gris-oscuro
}

.h1 {
    color: $color-naranja;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5.4rem;
    z-index: 1;
    width: 100%;
    padding-top: 3rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 600px) {
        font-size: 9.5vw;
        padding: 0 ;
        padding-top: 0;
        text-align: center;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        font-size: 6.3vw;
    }

}

.h1_inicio {
    font-size: 5rem;

    @media screen and (max-width: 600px) {
        font-size: 9.5vw;
        padding: 0 ;
        padding-top: 0;
        text-align: center;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        font-size: 6.3vw;
    }
}

.p_home {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:$color-gris-oscuro;
    margin-bottom: 1rem;

    strong {
        font-weight: 500; 
    }

    @media screen and (max-width: 900px) {
        margin-bottom: 3rem;
    }
}

.link-home {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:$color-naranja;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 500;
}

.importante {

    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 600px) {
        justify-content: center;
    }

    .news_inicio {
        background-color: $color-azul;
        border-radius: 25px;
        padding: 1rem 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        width: fit-content;
        margin-bottom: 2rem;
        color: $blanco;
        text-align: center;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}

.section2, .section3 {
    padding: 3rem;
    padding-bottom: 0;
}


.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 3.5rem;
    color:black;
    margin-bottom: 4rem;
    margin-top: 2rem;

    @media screen and (max-width: 576px) {
        margin-bottom: 3.5rem;
        font-size: 3.7rem;
    }
}

.p_normal {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:black;
    margin-bottom: 1.5rem;

    strong {
        font-weight: 500; 
    }
}

.p_chica {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.45rem;
    color:black;
    margin-bottom: 1.5rem;
}

.ul_texto {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:black;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
}

.ul_normal {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:black;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.div_sombras {

    border-radius: 50px;
    background: #ffffff;
    box-shadow:  7px 7px 27px #bfbfbf,
             -7px -7px 27px #ffffff;
    padding: 3rem;
    margin-bottom: 3rem;
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:black;
    margin-bottom: 1rem;
}

.section2 {
    display: flex;
    flex-direction: column;

    .formamos_parte {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
    
        }

        @media screen and (max-width: 992px) and (orientation: landscape) {
            flex-direction: column;
            align-items: flex-start;
        }

        .h2_integrantes {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-weight: bold;
            font-size: 2.5rem;
            color:$color-gris;
            
            @media screen and (max-width: 576px) {
                font-size: 2.7rem;
            }
        }
        .miembros {
        display: flex;
        flex-direction: row;
        gap: 7px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
    
        }

        .miembro_logo {

            display: flex;
            justify-content: center;
            align-items: center;
            
            background: $blanco;
            border-radius: 50px;
            border-radius: 50px;
            background: #ffffff;
            box-shadow:  7px 7px 14px #d9d9d9,
                        -7px -7px 14px #ffffff;
            padding: 1.5rem;

            img {
                height: 70px;

                @media screen and (max-width: 576px) {
                    width: 80%;
                    height: auto;
            
                }
            }
        }
    }
    }
}

// mision vision

.mision-vision {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    .m-s-div {
        width: 50%;

        background: $blanco;
        border-radius: 50px;
        border-radius: 50px;
        background: #ffffff;
        box-shadow:  7px 7px 14px #d9d9d9,
                        -7px -7px 14px #ffffff;
        padding: 4rem;

        .icono-titulo {

            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            gap: 15px;
            i {
                font-size: 3.5rem;
                color: $color-naranja;
            }

            h2 {
                padding: 0;
                margin: 0;
                color: $color-naranja;
            }
        }
    }
}


// beneficios



.link_web--beneficios {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: blue;
    overflow-x: hidden;
    word-wrap: break-word;
}

.no_underline {
    text-decoration: none;
}

// cuotas y formas de pago

.iframe_pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    
    iframe {
        border: 8px $color-gris solid;
        border-radius: 25px;
    }
}

// publicaciones

    .link_publicaciones {
        text-decoration: none;
        color: black;

        &:hover {
            color: rgba(0, 0, 0, 0.6);
            cursor: pointer; 
        }
    }


// estatutos

.estautos {

    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        border-radius: 25px;
        border: 8px $color-gris solid;
    }
}

// no seleccionable

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

// media q

@media screen and (max-width: 576px) {

    .div_sombras {
        padding: 2rem 3rem;

    }

    .ul_normal {
        margin-left: 2rem;
    }

    .iframe_pdf {
        
        iframe {
            border: 4px $color-gris solid;
            border-radius: 25px;
            width: 80%;
            height: auto;
        }
    }

    .h2 {
        font-size: 3.3rem;
    }

    .mision-vision {
        flex-direction: column;

        .m-s-div {
            width: 100%;
        }
    }


}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .section1 {
        height: 120vh;
    }
}