.evento_sombra {
    box-shadow:  7px 7px 27px #bfbfbf,
             -7px -7px 27px #ffffff;
}

.evento {
    width: 100%;
    border-radius: 50px;
    background: #ffffff;
    height: 700px;

    @media screen and (max-width: 600px) {
        height: 57%;
    }
    
    .foto_reson {
        width: 100%;
        height: 45%;
        background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/resonancia_magnetica_inical.jpg");
        background-size: 100%;
        background-size: cover;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        @media screen and (max-width: 600px) {
            height: 200px;
        }
    }

    .informacion {
        padding: 3rem;
        .titulo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            @media screen and (max-width: 600px) {
                flex-direction: column-reverse;
                gap: 20px;
            }

            .titulo_evento {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 1.75rem;
                color:black;
            }

            .fecha {
                background-color: $color-naranja;
                border-radius: 25px;
                padding: 1rem 2rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 1.5rem;
                color:black;
                margin-left: 1rem;
                text-align: center;

                @media screen and (max-width: 600px) {
                    justify-self: center;
                    width: 100%;
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
        }

        .ul_evento {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
            color:black;
            margin: 1rem;
            margin-bottom: 20px;
            padding-left: 2.3rem;
            overflow-x: hidden;
            word-wrap: break-word;
            
            
            .evento_item {
                color: black;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 1.7rem;
                text-decoration: none;
        
                &:hover {
                    color: rgba($negro, 0.8);
                    cursor: pointer;
                }
            }
        }
    }
}

.no_eventos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

    .logo_eventos {
        width: 60%;

        @media screen and (max-width: 600px) {
            width: 70%;
        }

        @media screen and (max-width: 600px) and (orientation: landscape) {
            width: 30%;
        }
    }
}

.gris {
    color: $color-gris;
}


// afiche

.afiche {
    color: rgba($color-naranja, 0.9) !important;

    &:hover {
        color: rgba($color-naranja, 0.7) !important;
        
    }
}

// fotos 

.foto_minas {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/Evento\ Minas\ 2023.jpg");

    @include foto_evento;
}

.foto_2_9_2023 {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/evento_radiologia_2023.jpg");

    @include foto_evento;
}

.foto_2_9_2023-2 {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/evento_reuniones_acad.jpeg");

    @include foto_evento;
}

.foto_sorteo2023 {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/SORTEO\ -\ WEB.png");

    @include foto_evento;
}

.foto_present_libro {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/P1.jpg");

    @include foto_evento;
}

.foto_seminario_bayer_2023 {
    background-image: linear-gradient(
            rgba($color-azul, 0.35),
            rgba($color-azul, 0.35)
        ),url("../img/Flyer\ Seminario\ -\ Es\ -\ Completo.png");

    @include foto_evento;
}

.foto_sanjo_2023 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/programa_san_jose.jpeg");

    @include foto_evento; 
}

.foto_rivera {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/banner_rivera.jpeg");

    @include foto_evento; 
}

.foto_julio_22 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/evento_julio_22.jpg");

    @include foto_evento;
}

.foto_5_5_22 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/fundamentos_de_pacs_dicom.jpg");

    @include foto_evento;
}

.foto_getafe {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/evento_getafe.jpg");

    @include foto_evento;
}

.foto_15_9_22 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/curso_reso_sept_22.jpg");

    @include foto_evento; 
}

.foto_1_09_22 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/enferm_22.jpg");

    @include foto_evento;
}

.foto_jornada_mamaria {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/jornadas_mamarias_2023.jpg");

    @include foto_evento;
}

.foto_clinica_alemana_23 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/evento_1011_noviembre.jpg");

    @include foto_evento;
}

.foto_jornada_mercosur_23 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/1°\ JORNADA\ SOBRE\ RESPONSABILIDAD\ MÉDICA\ DEL\ MERCOSUR.JPG");

    @include foto_evento;
}

.foto_jornada_cient_23 {
    background-image: linear-gradient(
        rgba($color-azul, 0.35),
        rgba($color-azul, 0.35)
    ),url("../img/jornada_cient_2023.jpg");

    @include foto_evento; 
}