.nav-eventoInd {
    background-color: #cae5e7;
    box-shadow: 0 4px 10px rgba($color: #062427, $alpha: 0.1);

    .navbar {
        .navbar_links {
            
            @media screen and (max-width: 1280px) {
                background-color: #cae5e7;
            }
            .links {
    
                .link_nav {
                    color: $color-azul;
                    .arrow {
                        color: $color-azul;
                    }
                }
            }
        }
    }

    .evento-registrate {
        font-weight: 550 !important;
    }

// dropdown
.link_nav .submenu {
    
    background: rgba($color: #cae5e7 , $alpha: 0.95);
    box-shadow: 0 1px 2px rgba($color: $color-azul, $alpha: 0.1);

    @media screen and (max-width: 1280px) {
        background-color: transparent;
    }

    li {
        border-bottom: 1px solid rgba($color: $color-azul, $alpha: 0.1);
    }
}


.link_nav--drop {
    color: rgba($color: $color-azul, $alpha: 0.9);
}
.cerrar {
    color: $color-azul;
}

.menu_icon {
    color: $color-azul
}
}


///// evento!

.aclaracion-evento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 30px;

    background-color: rgba($color: $color-azul, $alpha: 0.15);

    

    h3 {
        color: $color-azul-oscuro;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 2.2rem;

        @media screen and (max-width: 900px) {
            font-size: 1.8rem;
        }
    }

    span {
        color: $color-verde;
        font-weight: 600;
    }

    .rojo {
        color: $color-rojo;
        font-weight: 600;
    }
}

.not-bold {
    font-weight: 300 !important;
}

.section1-eventoIndividual {
    padding-top: 90px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
    }

    .eventoIndividual-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 3.5rem;

        @media screen and (max-width: 900px) {
            padding: 0;
            gap: 2rem;
        }

        .first-part {
            display: flex;
            align-items: center;
            gap: 2rem;

            .fecha-evnt {
                background-color: $color-naranja;
                border-radius: 25px;
                padding: 1rem 2rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 1.5rem;
                color: white;
                margin-left: 1rem;
                text-align: center;
            }
            
            img {
                height: 80px !important;
            }
        }

        .event-title {
            color: $color-azul;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 5.4rem;

            @media screen and (max-width: 900px) {
                font-size: 4.3rem;
            }
        }

        .costos-evento {
            padding-top: 2rem;
            @media screen and (max-width: 900px) {
                padding: 0;
            }
            .costos-title {
                color: $color-azul-oscuro;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 4rem;
                margin-bottom: 1rem;

                @media screen and (max-width: 900px) {
                    font-size: 3.5rem;
                }
            }

            .costos-listas {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    gap: 2rem;
                }

                .ul-costos-evento {
                    color: $color-azul-oscuro;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.8rem;
                    padding-left: 3rem;
                    padding-top: 0.5rem;

                    .ul-interna {
                        color: $color-azul-oscuro;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 320;
                        font-size: 1.8rem;
                        
                        padding-top: 0.5rem;

                        a {
                            text-decoration: none;
                            font-weight: 500;
                            color: $color-azul-oscuro
                        }
                    }
                }
            }
        }

        .boton-inscripcion-evnt {
            text-decoration: none;

            background-color: $color-naranja;
            border-radius: 25px;
            padding: 1rem 2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            color: white;
            text-align: center;
            margin-top: 3rem;

        }

    }

    .eventoIndividual-banner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 40%;
        img {
            max-height: 83vh;
            border-radius: 30px;
            border: 3px solid $color-azul;

            @media screen and (max-width: 1180px) {
                display: none;
            }
        }

        .img-melo {
            height: 55vh;
            border-radius: 30px;
            border: 3px solid $color-azul;

            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        video {
            height: 25vh;
            border-radius: 30px;
            border: 3px solid $color-azul;

            @media screen and (max-width: 900px) {
                height: auto;
                max-height: 30vh;
                width: 100%;
                margin-bottom: 4rem;
            }
        }
    }
    

}



.boton-insc {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .boton-inscripcion-evnt-ext {
        text-decoration: none;
        background-color: $color-naranja;
        width: 100% !important;

        border-radius: 25px;
        padding: 1rem 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: white;
        text-align: center;

    }
}

.boton-margin-ext {
    margin-bottom: 3rem;
}

.auspiciante-slide {
    background: $blanco;
    border-radius: 50px;
    border-radius: 50px;
    background:  rgba($color: $color-azul, $alpha: 0.15);
    box-shadow:    5px 5px 10px #bbc6c7,
                        -5px -5px 10px #ffffff;
    padding: 4rem 2rem;

    display: flex;
    justify-content: center;

    width: 30%;

    @media screen and (max-width: 900px) {
        width: auto;
        max-width: 50%;
        text-align: center;
    }
    
    @media screen and (max-width: 600px) {
        width: auto;
        max-width: 100%;
        text-align: center;
    }
    

        img {
            max-width: 50%;
            max-height: 75% !important;

            @media screen and (max-width: 900px) {
                
                max-width: 80%;
            }
                
        }
}

// .boton-inscripcion-evnt-ext {
//     text-decoration: none;

//     background-color: $color-naranja;
//     border-radius: 25px;
//     padding: 1rem 2rem;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 600;
//     font-size: 2rem;
//     color: white;
//     text-align: center;

//     margin-top: 2rem;

// }

.p_after {
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 320;
    font-size: 1.5rem;
                        
    padding-top: 1rem;
}

.section2-eventoIndividual {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);

}

.section3-eventoIndividual {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);

}

.section4-eventoIndividual {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);

}

.section5-eventoIndividual {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);

}

.section6-eventoIndividual {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    background-color: rgba($color: $color-azul, $alpha: 0.15);

}

.last-section {
    padding-bottom: 6rem;
}

table {
    width: 60%;
    margin-top: 1rem;

    @media screen and (max-width: 900px) {
        width: 100%;
         
    }
}

table, th, td {
    border: 2px solid $color-azul;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    padding-left: 1rem;
  }

  th {
    background-color: rgba($color: #cae5e7 , $alpha: 0.95);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: $color-azul;
  }

  td {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: $color-azul-oscuro;
    text-align: center;
    
  }

  .horarios {
    font-weight: 450;
    font-size: 1.2rem;
  }

.h2-eventoIndividual {
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 900px) {
        font-size: 3.5rem;
    }
}

.h4-eventoIndividual {
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;

    @media screen and (max-width: 900px) {
        font-size: 1.7rem;
    }
}

.p_normal-evento {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: $color-azul-oscuro;

    strong {
        font-weight: 450 !important;
    }
}

.ul-evento-simple {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: $color-azul-oscuro;
    padding-left: 2rem;
    margin-top: 2rem;
}

.link-int {
    text-decoration: none;
    color: $color-azul-oscuro;
    font-weight: 450 !important;
}

.ul-eventoInd {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: $color-azul-oscuro;
    padding-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.datos-expositores {
    padding: 3rem;
    padding-top: 2rem;
}

.h3-eventoIndividual {
    color: $color-azul;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 900px) {
        font-size: 3.5rem;
    }
}

.programa {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    table {
       align-self: center;
    }
}

.expositores {
    margin-top: 2rem;
}

.presentacion {
    margin-top: 3rem;
}

.link-evento {
    text-decoration: none;
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2px;

    .arrow-right {
        font-size: 2rem;
        color: $color-azul-oscuro;
    }
}

.ul-eventoIndividual {
    padding-left: 3rem;
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    margin-top: -1.5rem;
    font-size: 2rem;
    font-weight: 300;

    .link-locomocionALojamiento {
        text-decoration: none;
        color: $color-azul-oscuro;
        font-family: 'Poppins', sans-serif;
        font-weight: 450;
        font-size: 2rem;
    }
}

.ol-eventoIndividual {
    padding-left: 3rem;
    color: $color-azul-oscuro;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.locomocionYAlojamiento {
    display: flex;
    gap: 5rem;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 5rem;
    }

    img {
        max-height: 700px;
        border-radius: 50px;
        border: 6px solid $color-azul;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }

    iframe {
        border-radius: 50px;
        border: 6px solid $color-azul;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }
}

.margin-normal {
    margin: 0 !important
}

.subir {
    border-radius: 40px;
    background-color: $color-azul;
    display: flex;
    align-items: center;
    justify-content: center;
   
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10000;
    padding: 1rem 2rem;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 420;
    font-size: 3rem;

    a {
        text-decoration: none;
    
    }
}

.ul-inside {
    padding-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    strong {
        font-weight: 400;
    }
}

.padding-evt {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1.7rem;
        color: $color-azul-oscuro;
    }
}

.margin-bottom-extra {
    margin-bottom: 2rem;
}

.a-foto {
    text-align: center;
}

.btn-celeste {
    background-color: $color-azul !important;
}



// footer

.footer-eventoIndividual {
    background-color: $color-azul;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    @media screen and (max-width: 600px) {
        padding-top: 2rem;
    }
}

