.evento {

    background-color: $color-azul;
    border-radius: 25px;
    width: 70%;
    margin-bottom: 2rem;
    box-shadow:  7px 7px 27px #bfbfbf,
             -7px -7px 27px #ffffff;

    .evento_titulo {
        background-color: $color-naranja;
        border-radius: 25px;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h3-evento {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            color:black;
        }

        .p_normal-evento {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 2rem;
            color:black;
        }
    }

    .evento_info {
        display: flex;
        gap: 3rem;
        padding: 2rem;

        .ul_evento {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 2rem;
            color:white;
            margin: 1rem;
            margin-bottom: 20px;
            padding-left: 2.3rem;
            overflow-x: hidden;
            word-wrap: break-word;
            
            
            .evento_item {
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 2rem;
                text-decoration: none;
        
                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                    cursor: pointer;
                }
            }
        }

        img {
            border-radius: 25px;
            width: 50%;
        }
    
    }
}

.div_eventos {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


// media q 

@media screen and (max-width: 576px) { 

    .evento {

        width: 100%;

        .evento_titulo {

            .p_normal-evento {
                padding-left: 1rem;
            }
        }

        .evento_info {
            flex-direction: column;

            img {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .evento {

        width: 100%;
    }
}