.parallax_inicio {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("../img/index_parallax.webp");
    @include parallax;
}

.parallax_beneficios {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),url("../img/beneficios_parallax.webp");
    @include parallax;
}

.parallax_cuotas {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("../img/cuotas_parallax.webp");
    @include parallax;
}

.parallax_publicaciones {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),url("../img/publicaciones_parallax.webp") !important;
    @include parallax; 
}

.parallax_eventos {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("../img/eventos_parallax.webp");
    @include parallax;
}

.parallax_estatutos {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("../img/parallax_estatutos.webp");
    @include parallax;
}

.parallax_marco-juridico {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("../img/parallax_marcojuridico.webp");
    @include parallax;
}

// configuraciones

.container {
    width: 100%;
    height: 100%;
    margin:0;
    display: table;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}