.section1 {
    height: 65vh;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 100vw;

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        height: auto;
        width: 100vw;
    }

    .div_info {
        width: 60%;
        padding-left: 3rem;
        padding-right: 3rem !important;
        background-color: rgba($color: $color-naranja, $alpha: 0.30);

        @media screen and (max-width: 900px) {
            width: 100%;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 2rem;
            padding-top: 2rem;
            margin: 0;
        }
    }

    .container {
        height: 65vh;
        width: 40%;
        margin:0;
        display: table;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 900px) {
            width: 100%;
            height: 25vh;
        }

        @media screen and (max-width: 900px) and (orientation: landscape) {
                height: 45vh;
            
        }
    }
}

// cuando se necesita mas espacio para texto :)

// al lado de section1

.height_75 {
    height: 75vh !important;

    @media screen and (max-width: 900px) {
        height: auto !important;
    }

}

// al lado de la clase container

.height_75--container {

    height: 75vh !important;

    @media screen and (max-width: 900px) {
        width: 100%;
        height: 25vh !important;
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
            height: 45vh;
    
    }
}

// parallaxes :)


.parallax_inicio {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/index_parallax.webp");
    // @include parallax;
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_beneficios {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/beneficios_parallax.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_cuotas {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/cuotas_parallax.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_publicaciones {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/publicaciones_parallax.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_eventos {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/eventos_parallax.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_estatutos {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/parallax_estatutos.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax_marco-juridico {
    background-image: 
        linear-gradient(
            rgba($color: $color-azul, $alpha: 0.4),
            rgba($color: $color-azul, $alpha: 0.4)
        ),url("../img/parallax_marcojuridico.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    background-size:cover;
}

// configuraciones

.container {
    width: 100%;
    height: 100%;
    margin:0;
    display: table;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}